@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-radius: 0.5rem;
    --chart-label: var(--color-neutral-500);
    --chart-line: var(--ring-color-accented);
    --chart-line-tooltip: --alpha(var(--color-neutral-600) / 100%);
    --chart-area-top: --alpha(var(--color-primary) / 50%);
    --chart-area-bottom: --alpha(var(--color-primary) / 10%);
    @variant dark {

    }

    --vis-crosshair-line-stroke-width: 2px !important;
    --vis-crosshair-line-stroke-color: --alpha(var(--color-neutral-400) / .4) !important;
    --vis-crosshair-circle-stroke-color: var(--color-primary-500) !important;
    --vis-crosshair-circle-stroke-width: 2px !important;
    @variant dark {
        --vis-crosshair-line-stroke-color: --alpha(var(--color-neutral-400) / .4) !important;
        --vis-crosshair-circle-stroke-color: var(--color-primary) !important;
    }
    /*--ui-header-height: --spacing(16);*/
}

*:focus-visible {
    @apply ring-1 ring-inverted outline-none;
}

@theme {
}

html {
    scrollbar-color: var(--ring-color-accented) var(--background-color-default);
}

body {
    /*background-color: var(--background-color-muted);*/
}

.water-pattern {
    box-shadow:
        inset 0 0 .5px --alpha(var(--color-primary-500) / 35%),
        inset 0 1px 2px --alpha(var(--color-primary-500) / 45%),
        inset 0 0 2px --alpha(var(--color-slate-50) / 100%),
        0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background:
        radial-gradient(30% 35% at 50% 65%, transparent 70%, --alpha(var(--color-primary-300) / 25%) 140%, --alpha(var(--color-primary-500) / 35%) 200%),
        radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
        --alpha(var(--color-primary-500) / 0%);

    @variant light {
        &:hover {
            background:
                radial-gradient(30% 35% at 50% 65%, transparent 70%, --alpha(var(--color-primary-300) / 25%) 140%, --alpha(var(--color-primary-500) / 35%) 200%),
                radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
                --alpha(var(--color-primary-500) / 10%);
        }
    }

    @variant dark {
        box-shadow:
            inset 0 0 1px --alpha(var(--color-primary-500) / 45%),
            inset 0 -3px 3px --alpha(var(--color-primary-300) / 50%),
            inset 0 0 1.5px --alpha(var(--color-slate-50) / 70%);
        background:
            radial-gradient(85% 50% at 50% 90%, --alpha(var(--color-primary-50) / 40%), --alpha(var(--color-primary-300) / 10%), transparent 70%, --alpha(var(--color-primary-600) / 40%) 200%),
            radial-gradient(100% 100% at 50% 50%, transparent 20%, --alpha(var(--color-primary-300) / 10%), --alpha(var(--color-primary-50) / 40%) 100%),
            radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
            --alpha(var(--color-primary-500) / 0%);

        &:hover {
            background:
                radial-gradient(85% 50% at 50% 90%, --alpha(var(--color-primary-50) / 40%), --alpha(var(--color-primary-300) / 10%), transparent 70%, --alpha(var(--color-primary-600) / 40%) 200%),
                radial-gradient(100% 100% at 50% 50%, transparent 20%, --alpha(var(--color-primary-300) / 10%), --alpha(var(--color-primary-50) / 40%) 100%),
                radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
                --alpha(var(--color-primary-500) / 20%);
        }
    }
}

.water-pattern-avatar::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow:
            inset 0 0 .5px --alpha(var(--color-primary-500) / 35%),
            inset 0 1px 2px --alpha(var(--color-primary-500) / 45%),
            inset 0 0 2px --alpha(var(--color-slate-50) / 100%),
            0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background:
            radial-gradient(30% 35% at 50% 65%, transparent 70%, --alpha(var(--color-primary-300) / 25%) 140%, --alpha(var(--color-primary-500) / 35%) 200%),
            radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
            --alpha(var(--color-primary-500) / 0%);

    @variant light {
        &:hover {
            background:
                    radial-gradient(30% 35% at 50% 65%, transparent 70%, --alpha(var(--color-primary-300) / 25%) 140%, --alpha(var(--color-primary-500) / 35%) 200%),
                    radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
                    --alpha(var(--color-primary-500) / 10%);
        }
    }

    @variant dark {
        box-shadow:
                inset 0 0 1px --alpha(var(--color-primary-500) / 45%),
                inset 0 -3px 3px --alpha(var(--color-primary-300) / 50%),
                inset 0 0 1.5px --alpha(var(--color-slate-50) / 70%);
        background:
                radial-gradient(85% 50% at 50% 90%, --alpha(var(--color-primary-50) / 40%), --alpha(var(--color-primary-300) / 10%), transparent 70%, --alpha(var(--color-primary-600) / 40%) 200%),
                radial-gradient(100% 100% at 50% 50%, transparent 20%, --alpha(var(--color-primary-300) / 10%), --alpha(var(--color-primary-50) / 40%) 100%),
                radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
                --alpha(var(--color-primary-500) / 0%);

        &:hover {
            background:
                    radial-gradient(85% 50% at 50% 90%, --alpha(var(--color-primary-50) / 40%), --alpha(var(--color-primary-300) / 10%), transparent 70%, --alpha(var(--color-primary-600) / 40%) 200%),
                    radial-gradient(100% 100% at 50% 50%, transparent 20%, --alpha(var(--color-primary-300) / 10%), --alpha(var(--color-primary-50) / 40%) 100%),
                    radial-gradient(60% 20% at 50% 10%, --alpha(var(--color-primary-300) / 20%), --alpha(var(--color-primary-300) / 10%), transparent 80%),
                    --alpha(var(--color-primary-500) / 20%);
        }
    }
}